@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Silkscreen", sans-serif;
  src: url("../public/fonts/SecondaryFont/Silkscreen-Regular.ttf");
}

@font-face {
  font-family: "Pacifico", sans-serif;
  src: url("../public/fonts/TertiaryFont/Pacifico-Regular.ttf");
}

body {

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Silkscreen", "Pacifico";
}